<a href="https://colab.research.google.com/github/TanushGoel/Pump-It-Up/blob/master/Pump_It_Up_Water_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
pd.options.mode.use_inf_as_na = False
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [0]:
#MICE was pretty bad at guessing construction year
train = pd.read_csv('PumpItUpTokenizedCleanedMICE_train.csv')
train.status_group = train.status_group.astype(int)
target = train.status_group
train_id = train.id
train = train.drop('id', axis=1)
train.public_meeting = np.round((train.public_meeting-0.175)).astype(int)
train.permit = np.round((train.permit-0.175)).astype(int)
train.head(50)

    amount_tsh  date_recorded  ...  waterpoint_type_group  status_group
0       6000.0          40616  ...                      0             1
1          0.0          41339  ...                      0             1
2         25.0          41330  ...                      0             1
3          0.0          41302  ...                      0            -1
4          0.0          40737  ...                      0             1
5         20.0          40615  ...                      0             1
6          0.0          41183  ...                      1            -1
7          0.0          41191  ...                      1            -1
8          0.0          41216  ...                      1            -1
9          0.0          40758  ...                      1             1
10         0.0          40594  ...                      2             1
11       200.0          41323  ...                      1             1
12         0.0          41196  ...                      1             1
13         0.0          41348  ...                      0             1
14         0.0          41202  ...                      1             1
15         0.0          40759  ...                      1             1
16       500.0          40728  ...                      0            -1
17         0.0          40790  ...                      0            -1
18         0.0          40746  ...                      2             0
19       500.0          40596  ...                      0             1
20       200.0          40601  ...                      0             1
21         0.0          41315  ...                      1             1
22         0.0          40820  ...                      0             0
23       500.0          41581  ...                      0             1
24         0.0          41295  ...                      3             1
25         0.0          41330  ...                      0             0
26       500.0          41290  ...                      1             1
27         0.0          40735  ...                      1             1
28         0.0          41338  ...                      0            -1
29         0.0          41349  ...                      0             1
30         0.0          40625  ...                      1             1
31        50.0          40618  ...                      0             1
32         0.0          41352  ...                      2             0
33         0.0          40613  ...                      0             1
34         0.0          40597  ...                      1             1
35         0.0          41361  ...                      2            -1
36         0.0          40740  ...                      0            -1
37         0.0          40629  ...                      0             1
38      4000.0          40594  ...                      0             1
39         0.0          41316  ...                      1            -1
40        25.0          41550  ...                      0             1
41       500.0          40614  ...                      0             1
42       500.0          40731  ...                      0             1
43         0.0          41289  ...                      0            -1
44        20.0          41351  ...                      0             0
45         0.0          41204  ...                      0            -1
46        20.0          41310  ...                      0             0
47         0.0          40751  ...                      0             1
48      4000.0          40594  ...                      0             1
49      1500.0          40637  ...                      0             1

[50 rows x 38 columns]

In [0]:
test = pd.read_csv('PumpItUpTokenizedCleanedMICE_test.csv')
test_id = test.id
test = test.drop('id', axis=1)
test.public_meeting = np.round((test.public_meeting-0.25)).astype(int)
test.permit = np.round((test.permit-0.175)).astype(int)
test.head(50)

    amount_tsh  date_recorded  ...  waterpoint_type  waterpoint_type_group
0          0.0          41309  ...                3                      2
1          0.0          41309  ...                0                      0
2          0.0          41306  ...                3                      2
3          0.0          41296  ...                3                      2
4        500.0          41360  ...                0                      0
5          0.0          41337  ...                0                      0
6          0.0          40604  ...                2                      1
7          0.0          41299  ...                1                      0
8         30.0          41297  ...                0                      0
9          0.0          41351  ...                0                      0
10         5.0          41550  ...                0                      0
11         0.0          41332  ...                3                      2
12         0.0          41193  ...                1                      0
13         0.0          40753  ...                1                      0
14      1000.0          40604  ...                0                      0
15      1200.0          41428  ...                1                      0
16         0.0          40598  ...                2                      1
17       200.0          40613  ...                0                      0
18         0.0          41188  ...                0                      0
19         0.0          41307  ...                0                      0
20         0.0          41345  ...                0                      0
21         0.0          40609  ...                0                      0
22         0.0          41309  ...                3                      2
23         0.0          41314  ...                0                      0
24         0.0          41189  ...                2                      1
25       200.0          40597  ...                0                      0
26         0.0          41323  ...                0                      0
27         0.0          40643  ...                1                      0
28         0.0          41309  ...                2                      1
29         0.0          41325  ...                0                      0
30         5.0          41611  ...                0                      0
31         0.0          41211  ...                0                      0
32         0.0          41218  ...                2                      1
33        20.0          41346  ...                1                      0
34       500.0          40629  ...                0                      0
35       500.0          40728  ...                0                      0
36         0.0          40616  ...                0                      0
37      1000.0          41327  ...                0                      0
38         0.0          40601  ...                0                      0
39         0.0          40632  ...                0                      0
40        50.0          41311  ...                1                      0
41         0.0          40621  ...                2                      1
42         0.0          41194  ...                1                      0
43         0.0          40769  ...                2                      1
44         0.0          40752  ...                1                      0
45         0.0          40636  ...                0                      0
46         0.0          41197  ...                2                      1
47        50.0          41337  ...                0                      0
48         0.0          40645  ...                0                      0
49         0.0          41198  ...                0                      0

[50 rows x 37 columns]

In [0]:
train = reduce_mem_usage(train)

Memory usage of dataframe is 17.22 MB
Memory usage after optimization is: 3.23 MB
Decreased by 81.2%

       amount_tsh  date_recorded  ...  waterpoint_type_group  status_group
0          6000.0          40616  ...                      0             1
1             0.0          41339  ...                      0             1
2            25.0          41330  ...                      0             1
3             0.0          41302  ...                      0            -1
4             0.0          40737  ...                      0             1
5            20.0          40615  ...                      0             1
6             0.0          41183  ...                      1            -1
7             0.0          41191  ...                      1            -1
8             0.0          41216  ...                      1            -1
9             0.0          40758  ...                      1             1
10            0.0          40594  ...                      2             1
11          200.0          41323  ...                      1             1
12            0.0          41196  ...                      1             1
13            0.0          41348  ...                      0             1
14            0.0          41202  ...                      1             1
15            0.0          40759  ...                      1             1
16          500.0          40728  ...                      0            -1
17            0.0          40790  ...                      0            -1
18            0.0          40746  ...                      2             0
19          500.0          40596  ...                      0             1
20          200.0          40601  ...                      0             1
21            0.0          41315  ...                      1             1
22            0.0          40820  ...                      0             0
23          500.0          41581  ...                      0             1
24            0.0          41295  ...                      3             1
25            0.0          41330  ...                      0             0
26          500.0          41290  ...                      1             1
27            0.0          40735  ...                      1             1
28            0.0          41338  ...                      0            -1
29            0.0          41349  ...                      0             1
...           ...            ...  ...                    ...           ...
59370       200.0          41303  ...                      2             1
59371         0.0          41191  ...                      1            -1
59372         0.0          41213  ...                      2            -1
59373      5000.0          41304  ...                      1             1
59374         0.0          41211  ...                      1             1
59375     40000.0          40758  ...                      0             1
59376         0.0          41308  ...                      2            -1
59377         0.0          41205  ...                      0            -1
59378       500.0          40623  ...                      0             1
59379         0.0          40737  ...                      0             1
59380      6000.0          40616  ...                      0            -1
59381         0.0          40618  ...                      0            -1
59382         6.0          41489  ...                      0            -1
59383         0.0          41293  ...                      1             1
59384         0.0          40734  ...                      0            -1
59385       500.0          41216  ...                      1             1
59386         0.0          40777  ...                      1             1
59387       100.0          41345  ...                      0             1
59388         0.0          41303  ...                      3             1
59389         0.0          40761  ...                      1             1
59390         0.0          40759  ...                      1             1
59391         0.0          41489  ...                      0            -1
59392         0.0          40648  ...                      0            -1
59393         0.0          41209  ...                      2             1
59394       500.0          40611  ...                      0            -1
59395        10.0          41397  ...                      0             1
59396      4700.0          40670  ...                      0             1
59397         0.0          40644  ...                      1             1
59398         0.0          40610  ...                      1             1
59399         0.0          40625  ...                      1             1

[59400 rows x 38 columns]

In [0]:
test = reduce_mem_usage(test)

Memory usage of dataframe is 4.19 MB
Memory usage after optimization is: 0.79 MB
Decreased by 81.1%

       amount_tsh  date_recorded  ...  waterpoint_type  waterpoint_type_group
0             0.0          41309  ...                3                      2
1             0.0          41309  ...                0                      0
2             0.0          41306  ...                3                      2
3             0.0          41296  ...                3                      2
4           500.0          41360  ...                0                      0
5             0.0          41337  ...                0                      0
6             0.0          40604  ...                2                      1
7             0.0          41299  ...                1                      0
8            30.0          41297  ...                0                      0
9             0.0          41351  ...                0                      0
10            5.0          41550  ...                0                      0
11            0.0          41332  ...                3                      2
12            0.0          41193  ...                1                      0
13            0.0          40753  ...                1                      0
14         1000.0          40604  ...                0                      0
15         1200.0          41428  ...                1                      0
16            0.0          40598  ...                2                      1
17          200.0          40613  ...                0                      0
18            0.0          41188  ...                0                      0
19            0.0          41307  ...                0                      0
20            0.0          41345  ...                0                      0
21            0.0          40609  ...                0                      0
22            0.0          41309  ...                3                      2
23            0.0          41314  ...                0                      0
24            0.0          41189  ...                2                      1
25          200.0          40597  ...                0                      0
26            0.0          41323  ...                0                      0
27            0.0          40643  ...                1                      0
28            0.0          41309  ...                2                      1
29            0.0          41325  ...                0                      0
...           ...            ...  ...              ...                    ...
14820         0.0          41301  ...                0                      0
14821         5.0          41362  ...                0                      0
14822        50.0          41296  ...                0                      0
14823         0.0          40636  ...                0                      0
14824         0.0          40653  ...                2                      1
14825         0.0          41307  ...                2                      1
14826         0.0          41206  ...                2                      1
14827         0.0          40747  ...                2                      1
14828        50.0          40594  ...                3                      2
14829         0.0          41277  ...                0                      0
14830         0.0          41352  ...                0                      0
14831         0.0          41208  ...                2                      1
14832         0.0          41358  ...                0                      0
14833      1000.0          40607  ...                0                      0
14834         0.0          40629  ...                0                      0
14835         0.0          41299  ...                2                      1
14836         0.0          40620  ...                2                      1
14837       500.0          41315  ...                2                      1
14838      3000.0          40613  ...                0                      0
14839         0.0          40613  ...                0                      0
14840         0.0          41329  ...                0                      0
14841         0.0          41208  ...                2                      1
14842       600.0          41301  ...                1                      0
14843         0.0          41309  ...                3                      2
14844         0.0          41220  ...                2                      1
14845         0.0          40598  ...                0                      0
14846      1000.0          40623  ...                2                      1
14847         0.0          41337  ...                0                      0
14848         0.0          41323  ...                0                      0
14849         0.0          41318  ...                0                      0

[14850 rows x 37 columns]

In [0]:
train['dist'] = train.longitude ** 2 + train.latitude ** 2
test['dist'] = test.longitude ** 2 + test.latitude ** 2

In [0]:
train['dist2'] = train.gps_height ** 2 + train.dist
test['dist2'] = test.gps_height ** 2 + test.dist

In [0]:
train['wpt_dist_min'] = train.groupby('wpt_name')['dist'].transform('min')
train['wpt_dist_min2'] = train.groupby('wpt_name')['dist2'].transform('min')

test['wpt_dist_min'] = test.groupby('wpt_name')['dist'].transform('min')
test['wpt_dist_min2'] = test.groupby('wpt_name')['dist2'].transform('min')

train['wpt_dist_max'] = train.groupby('wpt_name')['dist'].transform('max')
train['wpt_dist_max2'] = train.groupby('wpt_name')['dist2'].transform('max')

test['wpt_dist_max'] = test.groupby('wpt_name')['dist'].transform('max')
test['wpt_dist_max2'] = test.groupby('wpt_name')['dist2'].transform('max')

In [0]:
train['construct_record_min'] = train.groupby('construction_year')['date_recorded'].transform('min')
test['construct_record_min'] = test.groupby('construction_year')['date_recorded'].transform('min')

train['construct_record_max'] = train.groupby('construction_year')['date_recorded'].transform('max')
test['construct_record_max'] = test.groupby('construction_year')['date_recorded'].transform('max')

train['construct_record'] = (train.date_recorded - train.construction_year)
train['construct_record_2'] = (train.date_recorded - train.construction_year) / train.construction_year

test['construct_record'] = (test.date_recorded - test.construction_year)
test['construct_record_2'] = (test.date_recorded - test.construction_year) / test.construction_year

In [0]:
from sklearn.decomposition import PCA

def principal_component_analyze(df):

    extraction_type = df.extraction_type
    extraction_type_group = df.extraction_type_group
    extraction_type_class = df.extraction_type_class
    
    extraction = pd.DataFrame(data=list(zip(extraction_type, extraction_type_group, extraction_type_class)),
                  columns = ['extraction_type', 'extraction_type_group', 'extraction_type_class'])

    pca_extraction = PCA(n_components=1)
    extractpca = pca_extraction.fit_transform(extraction)
    df['extraction'] = extractpca
    print(pca_extraction.explained_variance_ratio_)
    
    
    management = df.management
    management_group = df.management_group
    
    manage = pd.DataFrame(data=list(zip(management, management_group)),
                  columns = ['management', 'management_group'])

    pca_manage = PCA(n_components=1)
    managementpca = pca_manage.fit_transform(manage)
    df['manage'] = managementpca
    print(pca_manage.explained_variance_ratio_)
    
    
    payment = df.payment
    payment_type = df.payment_type
    
    pay = pd.DataFrame(data=list(zip(payment, payment_type)),
                  columns = ['payment', 'payment_type'])

    pca_pay = PCA(n_components=1)
    paypca = pca_pay.fit_transform(pay)
    df['pay'] = paypca
    print(pca_pay.explained_variance_ratio_)
    
    
    water_quality = df.water_quality
    quality_group = df.quality_group
    
    quality = pd.DataFrame(data=list(zip(water_quality, quality_group)),
                  columns = ['water_quality', 'quality_group'])

    pca_qual = PCA(n_components=1)
    qualpca = pca_qual.fit_transform(quality)
    df['qual'] = qualpca
    print(pca_qual.explained_variance_ratio_)
    
    
    quantity = df.quantity
    quantity_group = df.quantity_group
    
    quant = pd.DataFrame(data=list(zip(quantity, quantity_group)),
                  columns = ['quantity', 'quantity_group'])

    pca_quant = PCA(n_components=1)
    quantpca = pca_quant.fit_transform(quant)
    df['manage'] = quantpca
    print(pca_quant.explained_variance_ratio_)
    
    
    source = df.source
    source_type = df.source_type
    
    ss = pd.DataFrame(data=list(zip(source, source_type)),
                  columns = ['source', 'source_type'])

    pca_ss = PCA(n_components=1)
    sspca = pca_ss.fit_transform(ss)
    df['ss'] = sspca
    print(pca_ss.explained_variance_ratio_)
    
    
    waterpoint_type = df.waterpoint_type
    waterpoint_type_group = df.waterpoint_type_group
    
    waterpoint = pd.DataFrame(data=list(zip(waterpoint_type, waterpoint_type_group)),
                  columns = ['waterpoint_type', 'waterpoint_type_group'])

    pca_waterpoint = PCA(n_components=1)
    waterpointpca = pca_waterpoint.fit_transform(waterpoint)
    df['waterpoint'] = waterpointpca
    print(pca_waterpoint.explained_variance_ratio_)
    
    
    #district_code = df.district_code
    #region_code = df.region_code
    
    #code = pd.DataFrame(data=list(zip(district_code, region_code)),
                  #columns = ['district_code', 'region_code'])

    #pca_code = PCA(n_components=1)
    #codepca = pca_code.fit_transform(code)
    #df['code'] = codepca
    #print(pca_code.explained_variance_ratio_)
    
    
    df = df.drop(['extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', #'district_code', 'region_code', 
                 'water_quality', 'quality_group', 'quantity', 'quantity_group', 'source', 'source_type', 'waterpoint_type', 'waterpoint_type_group'], axis=1)
    
    return df
  
train = principal_component_analyze(train)
test = principal_component_analyze(test)

[0.95678236]
[0.96039072]
[1.]
[0.95462718]
[1.]
[0.98684648]
[0.98064153]
[0.89271392]
[0.95597614]
[0.9606198]
[1.]
[0.95550984]
[1.]
[0.98588773]
[0.98080023]
[0.89214725]

In [0]:
!pip3 install pygeohash
import pygeohash as gh

Requirement already satisfied: pygeohash in /usr/local/lib/python3.6/dist-packages (1.2.0)

In [0]:
train['geohash'] = train.apply(lambda x: gh.encode(x.latitude, x.longitude, precision=2), axis=1)
test['geohash'] = test.apply(lambda x: gh.encode(x.latitude, x.longitude, precision=2), axis=1)

train.geohash = train.geohash.factorize()[0]
test.geohash = test.geohash.factorize()[0]

In [0]:
train['geohash2'] = train.apply(lambda y: gh.encode(y.latitude, y.longitude, precision=3), axis=1)
test['geohash2'] = test.apply(lambda y: gh.encode(y.latitude, y.longitude, precision=3), axis=1)

train.geohash2 = train.geohash2.factorize()[0]
test.geohash2 = test.geohash2.factorize()[0]

In [0]:
train['geohash3'] = train.apply(lambda z: gh.encode(z.latitude, z.longitude, precision=4), axis=1)
test['geohash3'] = test.apply(lambda z: gh.encode(z.latitude, z.longitude, precision=4), axis=1)

train.geohash3 = train.geohash3.factorize()[0]
test.geohash3 = test.geohash3.factorize()[0]

In [0]:
train = reduce_mem_usage(train)

Memory usage of dataframe is 6.06 MB
Memory usage after optimization is: 4.48 MB
Decreased by 26.2%

       amount_tsh  date_recorded  funder  ...  geohash  geohash2  geohash3
0          6000.0          40616       0  ...        0         0         0
1             0.0          41339       1  ...        1         1         1
2            25.0          41330       2  ...        1         2         2
3             0.0          41302       3  ...        0         3         3
4             0.0          40737       4  ...        2         4         4
5            20.0          40615       5  ...        1         5         5
6             0.0          41183       6  ...        2         6         6
7             0.0          41191       7  ...        2         7         7
8             0.0          41216       8  ...        2         7         8
9             0.0          40758       9  ...        2         8         9
10            0.0          40594      10  ...        0         9        10
11          200.0          41323      11  ...        0        10        11
12            0.0          41196      12  ...        1        11        12
13            0.0          41348      13  ...        1         2        13
14            0.0          41202      14  ...        1        11        14
15            0.0          40759      15  ...        3        12        15
16          500.0          40728       3  ...        0        13        16
17            0.0          40790       3  ...        0        13        16
18            0.0          40746      16  ...        2        14        17
19          500.0          40596      11  ...        0         0        18
20          200.0          40601      17  ...        0        13        19
21            0.0          41315       6  ...        4        15        20
22            0.0          40820       3  ...        0        13        16
23          500.0          41581      18  ...        1         2        21
24            0.0          41295      19  ...        2        16        22
25            0.0          41330      20  ...        1         2        23
26          500.0          41290      21  ...        0         3        24
27            0.0          40735      16  ...        2         4        25
28            0.0          41338      20  ...        1         2        26
29            0.0          41349      13  ...        1         2        13
...           ...            ...     ...  ...      ...       ...       ...
59370       200.0          41303      -1  ...        2        16       231
59371         0.0          41191      58  ...        2         6       485
59372         0.0          41213     125  ...        2        34       102
59373      5000.0          41304      15  ...        3        49       410
59374         0.0          41211       7  ...        4        15        20
59375     40000.0          40758      20  ...        1         5        82
59376         0.0          41308      -1  ...        1        23       311
59377         0.0          41205      20  ...        2         7       132
59378       500.0          40623     209  ...        0        13        62
59379         0.0          40737     224  ...        2         4       398
59380      6000.0          40616       0  ...        0         0         0
59381         0.0          40618       5  ...        1         5       386
59382         6.0          41489      28  ...        1         2        23
59383         0.0          41293      67  ...        0        35       118
59384         0.0          40734     244  ...        2        41       154
59385       500.0          41216     201  ...        1         1       419
59386         0.0          40777      89  ...        3        25       493
59387       100.0          41345      69  ...        0        18       115
59388         0.0          41303     503  ...        2        22        84
59389         0.0          40761     106  ...        3        48       259
59390         0.0          40759      15  ...        3        12       139
59391         0.0          41489      20  ...        1         5       324
59392         0.0          40648      20  ...        3        24       144
59393         0.0          41209      10  ...        1        23       592
59394       500.0          40611      67  ...        0        30       359
59395        10.0          41397      57  ...        1         2        13
59396      4700.0          40670     421  ...        0        27       625
59397         0.0          40644      -1  ...        0        13       106
59398         0.0          40610     638  ...        0        17       341
59399         0.0          40625      67  ...        0        18       230

[59400 rows x 48 columns]

In [0]:
test = reduce_mem_usage(test)

Memory usage of dataframe is 1.50 MB
Memory usage after optimization is: 1.10 MB
Decreased by 26.4%

       amount_tsh  date_recorded  funder  ...  geohash  geohash2  geohash3
0             0.0          41309     162  ...        0         0         0
1             0.0          41309      20  ...        0         1         1
2             0.0          41306      -1  ...        0         2         2
3             0.0          41296     143  ...        1         3         3
4           500.0          41360    1036  ...        1         4         4
5             0.0          41337      20  ...        0         1         1
6             0.0          40604      20  ...        1         5         5
7             0.0          41299     111  ...        1         6         6
8            30.0          41297       3  ...        1         7         7
9             0.0          41351      13  ...        0         1         8
10            5.0          41550      57  ...        0         1         8
11            0.0          41332      12  ...        0         8         9
12            0.0          41193      67  ...        2         9        10
13            0.0          40753      88  ...        2         9        11
14         1000.0          40604      11  ...        1         5        12
15         1200.0          41428      11  ...        1        10        13
16            0.0          40598      -1  ...        1        11        14
17          200.0          40613      20  ...        0        12        15
18            0.0          41188      97  ...        2        13        16
19            0.0          41307     111  ...        1         6        17
20            0.0          41345      69  ...        1        14        18
21            0.0          40609      44  ...        1        15        19
22            0.0          41309      62  ...        2        16        20
23            0.0          41314      -1  ...        0         2        21
24            0.0          41189    1897  ...        2         9        22
25          200.0          40597     242  ...        1        15        23
26            0.0          41323      93  ...        1        10        24
27            0.0          40643      22  ...        1        17        25
28            0.0          41309       6  ...        3        18        26
29            0.0          41325     953  ...        0        19        27
...           ...            ...     ...  ...      ...       ...       ...
14820         0.0          41301     890  ...        1         7       555
14821         5.0          41362      36  ...        0         1         8
14822        50.0          41296      30  ...        1         7       607
14823         0.0          40636      -1  ...        1        15        84
14824         0.0          40653     356  ...        1        21       110
14825         0.0          41307     112  ...        1         7       779
14826         0.0          41206      12  ...        2        13       294
14827         0.0          40747      16  ...        2        23       518
14828        50.0          40594      10  ...        1        43       308
14829         0.0          41277      20  ...        1        10        13
14830         0.0          41352      55  ...        0         8         9
14831         0.0          41208      16  ...        3        18        26
14832         0.0          41358      38  ...        0         1         8
14833      1000.0          40607      38  ...        1        15       104
14834         0.0          40629      26  ...        0        19       489
14835         0.0          41299       7  ...        2         9       157
14836         0.0          40620      87  ...        1        43       350
14837       500.0          41315      62  ...        2        40       209
14838      3000.0          40613      38  ...        1        15       238
14839         0.0          40613     249  ...        0        12        70
14840         0.0          41329     145  ...        1        30       484
14841         0.0          41208       6  ...        3        18        26
14842       600.0          41301      18  ...        2        31       299
14843         0.0          41309      74  ...        2        31       483
14844         0.0          41220      58  ...        0        24        46
14845         0.0          40598      11  ...        1        14       133
14846      1000.0          40623     699  ...        0         8       535
14847         0.0          41337      -1  ...        0         2       174
14848         0.0          41323      93  ...        1        10        24
14849         0.0          41318      20  ...        1         4       594

[14850 rows x 47 columns]

In [0]:
train = train.drop('status_group', axis=1)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(train, target, test_size=0.0025, random_state=1, stratify=target, shuffle=True)

In [0]:
print('Train:', X_train.shape[0])
print('Valid:', X_valid.shape[0])

Train: 59251
Valid: 149

In [0]:
from sklearn.ensemble import RandomForestClassifier
rnd_clf = RandomForestClassifier(n_estimators=500, n_jobs=-1, random_state=1)
rnd_clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=-1, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [0]:
from sklearn.metrics import accuracy_score
y_pred_rf = rnd_clf.predict(X_valid)
print(f'Random Forest with Accuracy: {accuracy_score(y_valid, y_pred_rf):1.3f}')

Random Forest with Accuracy: 0.839

In [0]:
print('Feature Importances:')
for feature_name, feature_importance in zip(train.columns, rnd_clf.feature_importances_):
    print(feature_name, feature_importance)

Feature Importances:
amount_tsh 0.018246531136352297
date_recorded 0.03239384893881638
funder 0.02375972783910759
gps_height 0.035729931824608145
installer 0.019792022701542275
longitude 0.0329098215471627
latitude 0.049945347902682145
wpt_name 0.0403345291658929
num_private 0.0008319340767723997
basin 0.007783298976120276
subvillage 0.03837925262229764
region 0.010621573064504708
region_code 0.009295343509307783
district_code 0.011209624437328404
lga 0.016432009653296137
ward 0.025804646933243542
population 0.02597279100460797
public_meeting 0.003608169170041665
scheme_management 0.009473127122679456
permit 0.0040040827251608645
construction_year 0.043999362278342544
extraction_type 0.022920338412994436
extraction_type_group 0.020813010909879755
extraction_type_class 0.021394231247384404
management 0.009324633612921487
management_group 0.004160337170737156
payment 0.011248257612193908
payment_type 0.011495192403815848
water_quality 0.0054842988843221046
quality_group 0.005620799913370324
quantity 0.05434027206771972
quantity_group 0.058649985302607135
source 0.013151849452536052
source_type 0.01120167374728587
source_class 0.004585083008596388
waterpoint_type 0.025220211896019782
waterpoint_type_group 0.02184705458266085
dist 0.03706981836740728
dist2 0.03846132074836556
wpt_dist_min 0.027425829349982698
wpt_dist_max 0.0317087985874164
construct_record_min 0.026527549490310262
construct_record_max 0.02228931400398865
construct_record 0.017269350008778144
geohash 0.004602472024616491
geohash2 0.011300586473306746
geohash3 0.021360754090914712

In [0]:
from sklearn.ensemble import RandomForestClassifier
final_clf = RandomForestClassifier(n_estimators=6500, n_jobs=-1, random_state=42)
final_clf.fit(train, target)

In [0]:
print('Feature Importances:')
for feature_name, feature_importance in zip(train.columns, final_clf.feature_importances_):
    print(feature_name, feature_importance)

Feature Importances:
amount_tsh 0.018105206635242788
date_recorded 0.033418235886764215
funder 0.024024324845687693
gps_height 0.03451081021399807
installer 0.02028304747076881
longitude 0.03526950348893442
latitude 0.050687203403582355
wpt_name 0.03850778481148345
num_private 0.000851670676381109
basin 0.008346081451379796
subvillage 0.03781397310182541
region 0.011179789754216417
region_code 0.009790609609476317
district_code 0.012028081118256019
lga 0.017713154821475976
ward 0.027084910886358487
population 0.025531910095633503
public_meeting 0.003578493945605165
scheme_management 0.009506501334969929
permit 0.0041359762560087285
construction_year 0.04069285018629313
extraction_type 0.022042935867873283
extraction_type_group 0.020145876795949647
extraction_type_class 0.02414919612522541
management 0.009574907739968112
management_group 0.0042659832114210015
payment 0.011491017614623712
payment_type 0.011561580805222323
water_quality 0.0054026952936955626
quality_group 0.005359516811767117
quantity 0.05639240885623307
quantity_group 0.056933129081840624
source 0.013056440649578
source_type 0.011577088828891533
source_class 0.0047762699928435804
waterpoint_type 0.026236999436721187
waterpoint_type_group 0.020132841875147828
dist 0.03890652488749503
dist2 0.037399807038628906
wpt_dist_min 0.02752790623395125
wpt_dist_min2 0.033845073020123226
construct_record_min 0.024557759655910824
construct_record_max 0.020814798186593018
construct_record 0.016135382499921355
construct_record_2 0.03465373949603279

In [0]:
Y_pred = final_clf.predict(test)
submit = pd.DataFrame({
        "id": test_id.values,
        "status_group": Y_pred.ravel()
        })
submit.head(25)

       id  status_group
0   50785            -1
1   51630             1
2   17168             1
3   45559            -1
4   49871             1
5   52449             1
6   24806             1
7   28965            -1
8   36301            -1
9   54122             1
10    419             1
11  45750            -1
12    653            -1
13  14017            -1
14  44607             1
15  40228             1
16  27714             1
17  28785             1
18  28330             1
19  18532            -1
20  69961             1
21  55083            -1
22   8691            -1
23  30331            -1
24  70970             1

In [0]:
submit.status_group = submit.status_group.map({-1.0:"non functional", 0.0:"functional needs repair", 1.0:"functional"})
submit.head(25)

       id    status_group
0   50785  non functional
1   51630      functional
2   17168      functional
3   45559  non functional
4   49871      functional
5   52449      functional
6   24806      functional
7   28965  non functional
8   36301  non functional
9   54122      functional
10    419      functional
11  45750  non functional
12    653  non functional
13  14017  non functional
14  44607      functional
15  40228      functional
16  27714      functional
17  28785      functional
18  28330      functional
19  18532  non functional
20  69961      functional
21  55083  non functional
22   8691  non functional
23  30331  non functional
24  70970      functional

In [0]:
submit.to_csv('PUMPITUP_SUBMISSION_7.csv', index=False)
from google.colab import files
files.download('PUMPITUP_SUBMISSION_7.csv')