<a href="https://colab.research.google.com/github/TanushGoel/Pump-It-Up/blob/master/Pump_It_Up_Water_Tokenizing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# public_meeting and permit already mapped as 1 and 0

In [0]:
import pandas as pd
pd.options.mode.use_inf_as_na = False
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
data = pd.read_csv('PumpItUpAll.csv')
target = data.status_group
data_id = data.id
data.status_group = data.status_group.map({'functional':1, 'non functional':-1, 'functional needs repair':0})
data.head(10)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      id  amount_tsh  ...  waterpoint_type_group status_group
0  69572      6000.0  ...     communal standpipe          1.0
1   8776         0.0  ...     communal standpipe          1.0
2  34310        25.0  ...     communal standpipe          1.0
3  67743         0.0  ...     communal standpipe         -1.0
4  19728         0.0  ...     communal standpipe          1.0
5   9944        20.0  ...     communal standpipe          1.0
6  19816         0.0  ...              hand pump         -1.0
7  54551         0.0  ...              hand pump         -1.0
8  53934         0.0  ...              hand pump         -1.0
9  46144         0.0  ...              hand pump          1.0

[10 rows x 41 columns]

In [0]:
data.public_meeting.unique()

array([ 1., nan,  0.])

In [0]:
data.funder = data.funder.factorize()[0]
data.installer = data.installer.factorize()[0]
data.wpt_name = data.wpt_name.factorize()[0]
data.basin = data.basin.factorize()[0]
data.subvillage = data.subvillage.factorize()[0]
data.region = data.region.factorize()[0]
data.lga = data.lga.factorize()[0]
data.ward = data.ward.factorize()[0]
data.drop('recorded_by', axis=1, inplace=True)
data.scheme_management = data.scheme_management.factorize()[0]
data.extraction_type = data.extraction_type.factorize()[0]
data.extraction_type_group = data.extraction_type_group.factorize()[0]
data.extraction_type_class = data.extraction_type_class.factorize()[0]
data.management = data.management.factorize()[0]
data.management_group = data.management_group.factorize()[0]
data.payment = data.payment.factorize()[0]
data.payment_type = data.payment_type.factorize()[0]
data.water_quality = data.water_quality.factorize()[0]
data.quality_group = data.quality_group.factorize()[0]
data.quantity = data.quantity.factorize()[0]
data.quantity_group = data.quantity_group.factorize()[0]
data.source = data.source.factorize()[0]
data.source_type = data.source_type.factorize()[0]
data.source_class = data.source_class.factorize()[0]
data.waterpoint_type = data.waterpoint_type.factorize()[0]
data.waterpoint_type_group = data.waterpoint_type_group.factorize()[0]
data.head(50)

       id  amount_tsh  ...  waterpoint_type_group  status_group
0   69572      6000.0  ...                      0           1.0
1    8776         0.0  ...                      0           1.0
2   34310        25.0  ...                      0           1.0
3   67743         0.0  ...                      0          -1.0
4   19728         0.0  ...                      0           1.0
5    9944        20.0  ...                      0           1.0
6   19816         0.0  ...                      1          -1.0
7   54551         0.0  ...                      1          -1.0
8   53934         0.0  ...                      1          -1.0
9   46144         0.0  ...                      1           1.0
10  49056         0.0  ...                      2           1.0
11  50409       200.0  ...                      1           1.0
12  36957         0.0  ...                      1           1.0
13  50495         0.0  ...                      0           1.0
14  53752         0.0  ...                      1           1.0
15  61848         0.0  ...                      1           1.0
16  48451       500.0  ...                      0          -1.0
17  58155         0.0  ...                      0          -1.0
18  34169         0.0  ...                      2           0.0
19  18274       500.0  ...                      0           1.0
20  48375       200.0  ...                      0           1.0
21   6091         0.0  ...                      1           1.0
22  58500         0.0  ...                      0           0.0
23  37862       500.0  ...                      0           1.0
24  51058         0.0  ...                      3           1.0
25  22308         0.0  ...                      0           0.0
26  55012       500.0  ...                      1           1.0
27  20145         0.0  ...                      1           1.0
28  19685         0.0  ...                      0          -1.0
29  69124         0.0  ...                      0           1.0
30  46804         0.0  ...                      1           1.0
31   6696        50.0  ...                      0           1.0
32  57238         0.0  ...                      2           0.0
33  12402         0.0  ...                      0           1.0
34  41583         0.0  ...                      1           1.0
35  57355         0.0  ...                      2          -1.0
36  67359         0.0  ...                      0          -1.0
37  60048         0.0  ...                      0           1.0
38  16583      4000.0  ...                      0           1.0
39     25         0.0  ...                      1          -1.0
40  70238        25.0  ...                      0           1.0
41  12796       500.0  ...                      0           1.0
42  52019       500.0  ...                      0           1.0
43  19282         0.0  ...                      0          -1.0
44   1843        20.0  ...                      0           0.0
45  12958         0.0  ...                      0          -1.0
46  45111        20.0  ...                      0           0.0
47  13620         0.0  ...                      0           1.0
48  18864      4000.0  ...                      0           1.0
49  25182      1500.0  ...                      0           1.0

[50 rows x 40 columns]

In [0]:
data.to_csv('PUMPITUP_Tokenized.csv', index=False)
from google.colab import files
files.download('PUMPITUP_Tokenized.csv')
# Data ready to be cleaned of missing values